<template name="BeginResearch">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <br>
          <h1><b>Begin your movement </b></h1>
          <h3> Raise money for research within any field of study </h3>
          <br>
          <br>
          <br>
          <h4> What is the target goal you would like to reach? </h4>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="..." placeholder="$" id="amount">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id = "moneyType">USD</button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" id="Cur1">CAD</a></li>
                <li><a href="#" id="Cur2">GBP</a></li>
                <li><a href="#" id="Cur3">EUR</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" id="Cur4">AUD</a></li>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->
          <span id ="MinAmount"> Minimum $500 </span>
          <br>
          <span id="AmountError" style="color:red"></span>
          <br>
          <br>
          <br>
          
          <h4> What is the title of your research? </h4>
          <input type="text" class="form-control" aria-label="..." id="ResearchTitle" placeholder="Research title...">
          <span> 50 Character Limit </span>
          <br>
          <span id="TitleError" style="color:red"></span>

          <br>
          <br>
          <br>
          <br>
          <a href="" style = "background-color: #29c3fa; color: white;" id="BeginResearch" class="btn btn-default btn-lg">Start your movement!</a>
          <span id="LoginError" style="color:red"></span>


        </div><!-- /.col-lg-6 -->
    </div>
  </div>

  <style type="text/css">
    .input-group-btn{
      padding-left: 1%;
    }

    .dropdown-menu{
      min-width: 100%;
    }
  </style>
</template>