<template name="BeginResearch">
  <div class="container">
    <div class="row">
        <h1> Begin your movement </h1>
        <h3> Raise money for research within any field of study </h3>
        <br>
        <br>
        <br>
        <div class="col-lg-6">
          <h4> What is the target goal you would like to reach? </h4>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="..." placeholder="$">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">CAD</a></li>
                <li><a href="#">GBP</a></li>
                <li><a href="#">EUR</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">AUD</a></li>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->
          <span> Minimum $500 </span>
        </div><!-- /.col-lg-6 -->
    </div>
  </div>

  <style type="text/css">
    .form-control{
      width: 200px;
    }
  </style>
</template>