<template name="carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="height: 100%; float:none;">
          <div class="col-xs-4"><a href="/projects/project/{{getCarouselProjects 0 'id'}}"><img src="{{getCarouselProjects 0 'photoURL'}}" style="width:105%; height:350px;"></a></div>
          <div class="carousel-caption">
            <h3>{{getCarouselProjects 0 "title"}}</h3>
            <p>{{getCarouselProjects 0 "summary"}}</p>
          </div>
        </div>
        <div class="item" style="height: 100%; float:none;">
          <div class="col-xs-4"><a href="/projects/project/{{getCarouselProjects 1 'id'}}"><img src="{{getCarouselProjects 1 'photoURL'}}" style="width:105%; height:350px; "></a></div>
          <div class="carousel-caption">
            <h3>{{getCarouselProjects 1 "title"}}</h3>
            <p>{{getCarouselProjects 1 "summary"}}</p>
          </div>
        </div>
        <div class="item" style="height: 100%; float:none;">
          <div class="col-xs-4"><a href="/projects/project/{{getCarouselProjects 2 'id'}}"><img src="{{getCarouselProjects 2 'photoURL'}}" style="width:105%; height:350px; "></a></div>
          <div class="carousel-caption">
            <h3>{{getCarouselProjects 2 "title"}}</h3>
            <p>{{getCarouselProjects 2 "summary"}}</p>
          </div>
        </div>       
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <script>
      $(document).ready(function () {
          $('#myCarousel').carousel({
              interval: 10000
          })
          $('.carousel .item').each(function () {
              var next = $(this).next();
              if (!next.length) {
                  next = $(this).siblings(':first');
              }
              next.children(':first-child').clone().appendTo($(this));
              if (next.next().length > 0) {
                  next.next().children(':first-child').clone().appendTo($(this));
              } else {
                  $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
              }
          });
      });
  </script>
  <style type="text/css">
  
  .carousel-caption{
    text-align: left;
    top: 230px;
    padding-left: 15%;
  }
  .carousel {
    overflow: hidden;
  }
  .carousel-inner {
      width: 150%;
      left: -25%;
  }
  .carousel-inner > .item.next, 
  .carousel-inner > .item.active.right {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
  }
  .carousel-inner > .item.prev, 
  .carousel-inner > .item.active.left {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
  }
  .carousel-control.left{
    background: rgba(255, 255, 255, 0.5);
      width: 26.2%;
  } 
  .carousel-control.right {
      background: rgba(255, 255, 255, 0.5);
      width: 24%;
  }

  .ViewResearch{
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    width: 98px;
    border-radius: 25px;
 }
  </style>
</template>