<template name = "Department">
		<div id = "departments">
			<div class="ui sub header">Select your department</div>
			<div class="ui fluid multiple search normal selection dropdown department col-md-6">
		  	<input type="hidden" name="department" id="ResearchDepartment">
		  	<i class="dropdown icon"></i>
		  	<div class="default text">Department...</div>
			  <div class="menu">
			  <div class="item">Medical</div>
			  <div class="item">Engineering</div>
			  <div class="item">Mathematics</div>
			  <div class="item">Physics</div>
			  <div class="item">Fitness and Nutrition</div> 
			  <div class="item">Other</div> 

				</div>
			</div> 
		</div>
	<script type="text/javascript">
		$('.ui.normal.dropdown.department')
	  .dropdown({
	    maxSelections: 1
	  })
	;
	</script>
</template>