<template name = "discoverLayout"> 
    <section id="banner">
        <center>
            <h1 style= "font-family: 'Benton Sans','Helvetica','sans-serif'; font-size: 40px"> Fund your favourite research </h1>
        </center>                
            
    </section>
    <section class="wrapper style1 special">
        <div class="container">
            <div class="col-md-11 col-sm-11">
                <div class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a class = "categoryLink" href="/projects/medical">
                            <div class="shortcut">
                                <i class="fa fa-medkit shortcut-icon icon-red"></i>
                                <h3>Medical</h3>
                                <span class="total-items">234,567</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a class = "categoryLink" href="/projects/photography">
                            <div class="shortcut">
                               <i class="fa fa-camera shortcut-icon icon-green"></i>
                                <h3>Photography</h3>
                                <span class="total-items">25,366</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a class = "categoryLink" href="/projects/physiology">
                            <div class="shortcut">
                                <i class="fa fa-male shortcut-icon icon-brown"></i>
                                <h3>Physiology</h3>
                                <span class="total-items">252,546</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a class = "categoryLink" href="/projects/mathematics">
                            <div class="shortcut">
                                <i class="fa fa-area-chart shortcut-icon icon-violet"></i>
                                <h3>Mathematics</h3>
                                <span class="total-items">252,546</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a class = "categoryLink" href="/projects/nutrition">
                            <div class="shortcut">
                                <i class="fa fa-spoon shortcut-icon icon-dark-blue"></i>
                                <h3>Nutrition</h3>
                                <span class="total-items">252,546</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a class = "categoryLink" href="/projects/engineering">
                            <div class="shortcut">
                                <i class="fa fa-space-shuttle shortcut-icon icon-light-blue"></i>
                                <h3>Engineering</h3>
                                <span class="total-items">252,546</span>
                            </div>
                        </a> 
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a class = "categoryLink" href="/projects/education">
                            <div class="shortcut">
                                <i class="fa fa-graduation-cap shortcut-icon icon-black"></i>
                                <h3>Education</h3>
                                <span class="total-items">252,546</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a class = "categoryLink" href="/projects/other">
                            <div class="shortcut">
                                <i class="fa fa-wrench shortcut-icon icon-light-green"></i>
                                <h3>Other</h3>
                                <span class="total-items">252,546</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <h1 style= "font-family: 'Benton Sans','Helvetica','sans-serif'; font-size: 40px"> Featured </h1>

    <div class = "container">
        {{#each project in getfeaturedProjects}}
                {{#if checkProjectApproval project}}
                    {{>featuredProject (calcPercentage project)}}
                {{/if}}
        {{/each}}
    </div>

<style type="text/css">

a{
    color: #777;
}

.main{
    padding:30px 0;
    min-height: 460px;
}

.categoryLink{
    width:100%;
    display:block;
}

.shortcut {
    background: #FFF;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #DDD;
    padding: 20px;
    border-radius: 5px;
}

.shortcut-icon{
    font-size: 50px;
}

.shortcut h3{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
}

.total-items{
    font-size: 12px;
    color: #CCC;
}

.counter{
    padding: 20px 0;
    background: #58b325;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

.section-header{
    text-transform: uppercase;  
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
}

.section-header h2{
    font-size: 20px;
    font-weight: 700;
}
.bodycontainer{
  margin-top: 9%;
}
/* Banner */

    #banner {
        background-image: url(dark_tint.png), url(bokeh_car_lights_bg.jpg);
        background-position: center center;
        background-size: cover;
        color: #ffffff;
        padding: 14em 0em 14em;
        text-align: center;
    }

        #banner :last-child {
            margin-bottom: 0;
        }

        #banner h2 {
            color: #ffffff;
            font-size: 4em;
            line-height: 1.25em;
            margin: 0 0 0.5em 0;
            padding: 0;
        }

        #banner p {
            font-size: 1.5em;
            margin-bottom: 1.75em;
        }
.wrapper {
        padding: 6em 0em 4em;
        /* Style 1 Wrapper */
        /* Style 2 Wrapper */
        /* Style 3 Wrapper */
    }

        .wrapper.style1 {
            background-color: #F5F5F5;
            border-bottom: 1px solid rgba(144, 144, 144, 0.25);
            border-top: 1px solid rgba(144, 144, 144, 0.25);
        }

            .wrapper.style1 .box {
                background-color: #fff;
                padding: 3em 2.5em;
            }

                .wrapper.style1 .box h2, .wrapper.style1 .box h3, .wrapper.style1 .box h4, .wrapper.style1 .box h5, .wrapper.style1 .box h6 {
                    color: #858585;
                }

        .wrapper.style2 .profiles {
            border-bottom: 1px solid rgba(144, 144, 144, 0.25);
            border-top: 1px solid rgba(144, 144, 144, 0.25);
            margin-bottom: 4em;
            padding-top: 4em;
        }

        .wrapper.style2 .profile {
            margin-bottom: 2em;
            text-align: left;
        }

            .wrapper.style2 .profile img {
                border-radius: 50%;
                float: left;
                margin-bottom: 1em;
                margin-right: 1em;
            }

            .wrapper.style2 .profile h4 {
                margin-bottom: 0;
                margin-top: 1em;
            }

        .wrapper.style2 footer {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }

            .wrapper.style2 footer p {
                margin-bottom: 3em;
            }

</style>

</template>