<template name = "featuredProject">
  <div class="col-md-12">
    <div class="featured-project">
      <div class="col-md-6">
        <div class="featured-image">
          <a href="/projects/project/{{_id}}">  <img alt="Project" src="{{photoURL}}" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="caption">
          <h4>{{title}}</h4>
          <img class="img-author img-circle" src="">
          {{author}}
          <br>
          <br>
          <p>{{summary}}</p>
          <br>
          <b>{{currency}}{{currentAmountFunded}} {{moneyType}}</b>

          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percentFunded}}%;">
            </div>
          </div>
          <div class="featuredLinks">
              <ul>
                  <li> <a href=""><i class="fa fa-clock-o"></i> Today</a></li>
                  <li><i class="fa fa-tag"></i> <a href="">{{department}}</a> , <a href="">{{subfield}}</a></li>
                  <li><a href=""><i class="fa fa-map-marker"></i> &nbsp;{{city}},&nbsp;{{country}}</a></li>
              </ul>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <b>{{percentFunded}}%</b>
              <br>
              <span>Funded</span>
            </div>
            <div class="col-sm-3">
              <b>{{numberOfSupporters}}</b>
              <br>
              <p>Supporters</p>

            </div>
            <div class="col-sm-3">
              <b>{{daysLeft}}</b>
              <br>
              <p>Days Left</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style type="text/css">

  .featured-project{
      padding: 10px;
      border: 1px solid #DDD;
      margin-bottom: 20px;
      background-color: #FFF;
      overflow: hidden !important;
      position:relative;
      min-height: 390px;
  }

  </style>
</template>