<template name="footer">
		<div id="footer" class="jumbotron">
			<div class="row">
				<div class="col-lg-3">
					<h4>About</h4>
					What is Study Fund? <br>
					Jobs <br>
					Press
				</div>
				<div class="col-lg-3">
					<h4>Help</h4>
					FAQs <br>
					Rules <br>
					Project Guide <br>
					Contact us
				</div>
				<div class="col-lg-3">
					<h4>Explore</h4>
					Medical <br>
					Nutrition <br>
					Drugs <br>
					Astronomy <br>
					Chemistry <br>
					Biology
				</div>
				<div class="col-lg-3">
					<h4>Social Media</h4>
					Facebook <br>
					Instagram <br>
					Twitter <br>
					Youtube <br>
					Pinterest <br>
					Tumblr
				</div>
			</div>
		</div>
</template>