<template name="profilePage">
	{{#with user}}
	
	{{> editProfile}}

	<div class="container">
		<div class="row space-top-lg">
			<div class="col-md-2">
				<img class="img-rounded img-responsive" src="placeholder-profile.png">
			</div>

			<div class="col-md-7">
				<h2>{{profile.name}} <span class="small">{{profile.title}}</span></h2>
				Supported 2 projects - Mississauga, Canada - Joined 

				<p class="space-top-sm">{{profile.summary}}</p>
			</div>

			<div class="col-md-3">
				{{#if thisUsersProfile}}
					{{> userButtons}}
				{{else}}
					{{> followButton}}
				{{/if}}
			</div>
		</div>
	</div> <!-- container -->

	<div class="container-fluid space-top-lg">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#projects">Projects <span class="badge">2</span></a></li>
			<li><a data-toggle="tab" href="#sponsored">Sponsored <span class="badge">5</span></a></li>
			<li><a data-toggle="tab" href="#bio-tab">Biography</a></li>
		</ul>
		<div class="tab-content">
			<div id="projects" class="tab-pane fade in active">
				<div class="container space-top-lg">
					<div class="row">
						{{> projectThumbNail}}
						{{> projectThumbNail}}
					</div>
				</div>
			</div>
			<div id="sponsored" class="tab-pane fade">
			    <div class="container">
			    	<div class="row">
			    		{{> sponsoredThumbNail}}
			    		{{> sponsoredThumbNail}}
			    		{{> sponsoredThumbNail}}
			    		{{> sponsoredThumbNail}}
			    		{{> sponsoredThumbNail}}
			    	</div>
			    </div>
			</div>
			<div id="bio-tab" class="tab-pane fade">
				<div class="container">
					<div class="page-header">
  						<h1>Biography</h1>
					</div>
					<p>{{profile.bio}}</p>
				</div>
			</div>
		</div>
	</div>
	{{/with}}
</template>

<template name="editProfile">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
	      	</div>
	      	<div class="modal-body">
	        	<div class="form-group">
	        		<label for="name">Name</label>
	            	<input type="text" id="name" class="form-control" placeholder="Name" value="{{profile.name}}" >
	        	</div>
	            <div class="form-group">
	            	<label for="title">Title</label>
	              	<input type="text" id="title" class="form-control" placeholder="PhD Physics" value="{{profile.title}}">
	            </div>
	            <div class="form-group">
	            	<label for="summary">Summary</label>
	              	<textarea id="summary" class="form-control" rows="3" maxlength="300" placeholder="Give a quick intro and what you're all about...">{{profile.summary}}</textarea>
	              	<span class="small pull-right"><i>300 Character Limit</i></span>
	            </div>
	            <div class="form-group">
	            	<label for="biography">Biography</label>
	              	<textarea id="bio" class="form-control" rows="5" placeholder="Tell us who you are and why supporters should help your projects...">{{profile.bio}}</textarea>
	            </div>
	      	</div>
	      	<div class="modal-footer">
	      		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary save-changes">Save changes</button>
	    	</div>
	    </div>
	  </div>
	</div>
</template>

<template name="userButtons">
	<div class="btn-group space-top-lg pull-right" role="group">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit</button>
		<span class="btn-label btn-label-default" title="23,000 followers">23,000 followers</span>
	</div>
</template>

<template name="followButton">
	<div class="btn-group space-top-lg pull-right" role="group">
		<button type="button" class="btn btn-primary">Following</button>
		<span class="btn-label btn-label-default" title="23,000 followers">23,000</span>
	</div>
</template>

<template name="sponsoredThumbNail">
	<div class="col-md-3 space-top-lg">
	    <a href="#">
	    	<img class="img-responsive" src="placeholder-red.png">
	    </a>
	    <b>Project Title</b>
	</div>
</template>
