<template name="profilePage">
	<div name="container">
		<div class="row">
			<div clas="col-2-md">
				<img src="placeholder-profile.png">
			</div>
			<div class="col-10-md">
				<h1>Mario Machado <span class="small">PhD. Astro Phys, Virtual Reality Computation</span></h1>
				Backed 2 projects - Mississauga, Ontario - Joined Today
			</div>
		</div>

		<div class="page-header">
  			<h1>Supported Projects</h1>
		</div>

		<div class="row">
			{{> projectThumbNail}}
			{{> projectThumbNail}}
		</div>
	</div> <!-- container -->
</template>