<template name = "projectsLayout">
 <!-- featured project --> 
 <div class = "container">
  <div class = "row">
    <center>
      <h1 style= "font-family: 'Benton Sans','Helvetica','sans-serif'; font-size: 40px"> New discoveries in the medical field </h1>
    </center>
    <hr>
    <br>
    <div class = "col-md-4">
      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"                 aria-haspopup="true" aria-expanded="true" style= "display: block; width: 100%;">
            All Categories
          <span class="caret"></span>  
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class = "col-md-4">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"                    aria-haspopup="true" aria-expanded="true" style= "display: block; width: 100%;">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>

    <div class = "col-md-4">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"                    aria-haspopup="true" aria-expanded="true" style= "display: block; width: 100%;">
          Trending
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">New</a></li>
          <li><a href="#">Ending soon</a></li>
          <li><a href="#">Needs help</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Most Funded</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="section-header">
        <h2>Featured</h2>
  </div>
  {{>featuredProject}}

  <div class="row">
    {{>projectThumbNail}}
    {{>projectThumbNail}}
    {{>projectThumbNail}}
  </div>

  <center>
    <a href="" data-toggle="tooltip" data-placement="top" title="Save Favorite" class="btn btn-default btn-md">Load More</a>
  </center>
</div>

<style type="text/css">

.container{
  margin-top: 9%;
}
</style>

</template>