<template name = "projectsLayout">
 <!-- featured project --> 
 <div class = "projectsContainer">
  <div class = "featureProjectTemplate">
    <div class="featuredProject">
      <div class="projectImage col-xs-6">
        <img src="http://coileyco.ca/images/project.jpg" alt="FeaturedProject">
      </div>
        <div class="featureProjectInfo col-xs-6">
          <div class = "contents">
            <div class= "featureProjectTitle">
              <a href="#">
                Title
              </a>
            </div>
            <div class = "featureProjectCreator">
                Creator
            </div>
            <div class = "featureProjectDesciption">
                Description
            </div>
            <div class = "featureProjectLocation">
                Location
            </div>
          </div>
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div>
    </div>
  </div>
</div>
   <!-- projects --> 
  <div class="Projects">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://coileyco.ca/images/stock.jpg" alt="FeaturedProject">
        <div class="project">
          <a href="#" ><h3>Title</h3></a>
          <p>Description</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
           </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://coileyco.ca/images/stock.jpg" alt="FeaturedProject">
        <div class="project">
          <a href="#" ><h3>Title</h3></a>
          <p>Description</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
           </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://coileyco.ca/images/stock.jpg" alt="FeaturedProject">
        <div class="project">
          <a href="#" ><h3>Title</h3></a>
          <p>Description</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>

</template>