<template name="projectThumbNail">
	<div class="col-md-4">
	    <div class="thumbnail">
	    	<a href = "/projects/project/{{_id}}">
		    	<img src="{{photoURL}}" alt="..." style="width:100%; height:200px; overflow: hidden;">
		    </a>
	        <div class="caption">
				<h4 style = "word-wrap: break-word; font-size: 1vw;">{{title}}</h4>
				<div class = "authorthumbnail" onclick = "goto_profilePage()">
					<img class="img-author img-circle" src="{{getUserPhoto owner.[0]}}">
					{{author}}
				</div>
				<br>
				<div class = "SummaryContainer" style = "width: 100%; height:40px; font-size: 1em; word-wrap: break-word;">
					{{summary}}
				</div>
				
				<br>
				<div class = "row">
				    <div class="col-xs-3">{{currency}} {{formatNumber currentAmountFunded}}</div>
					<div class="col-xs-2 col-xs-offset-3"><a href=""><i class="fa fa-map-marker">&nbsp;{{city}},&nbsp;{{country}}</i></a>
					</div>

				</div>
				{{#let percentFunded=(calcPercentage currentAmountFunded goal)}}
	  			<div class="progress">
  					<div class="progress-bar" role="progressbar" aria-valuenow="{{percentFunded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentFunded}}%; max-width: 100%;">
    				<span class="sr-only">{{percentFunded}}% Complete</span>
  					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<b>{{percentFunded}}%</b>
						<br>
						<span>Funded</span>
					</div>
					<div class="col-sm-3">
						<b>{{formatNumber numberOfSupporters}}</b>
						<br>
						<p>Supporters</p>

					</div>
					<div class="col-sm-3">
						<b>{{calculateDaysLeft _id}}</b>
						<br>
						<p>Days Left</p>
					</div>
				</div>
				{{/let}}
	        </div>
	    </div>
	</div>
	<script type="text/javascript">
	function goto_profilePage(){
		window.location.href = "/profile/{{owner}}"
	}
	</script>
</template>